html { 
    width: 90%;
    margin: 0 auto;
  }


.logbody h1 {
  margin-top: 8%;
  text-align: center;
  font-size: 250%;  
}

.main{
  width: 90%;
  margin: auto;
}

.main p, label {
  margin-top: 2%;
  font-size: 90%;
  color: #dfc5fe;
  margin-bottom: 3%;
}

.main input{
  width: 100%;
  margin-top: 2%;
  margin-bottom: 2%;
  border-radius: 5px;
  border-color: #d9d2e9;
  box-sizing: border-box;
  font-size: large;
  padding: 10px;
}

.main button{
  background-color: #4f3d87;
  color: white;
  padding: 15px;
  border: none;
  width: 100%;
  font-size: large;
  font-weight: bold;
  margin-top: 5%;
}

.main button:hover {
  opacity: .8;
  cursor: pointer;
}

.main a:link {
  text-decoration: underline;
}


/* figure out how to move the noacc p up a little bit? */

.goback a {
  margin: 5%;
} /* finish*/

.noacc p {
  margin: 0;
}


.cardContainer {
  height: 30%;
  width: 90%;
  text-align: center;
  background-color: #9687c4;
}

.flashcard {
  position: relative;
  display: flex;
}

#flashcard h1 {
  margin-top: 40px;
  text-align: center;
  font-size: 250%;  
}

.maincard {
  transform-style: preserve-3d;
  transition: transform 0.5s;
  margin-bottom: 20px;
  position: relative;
}

.frontcard, .backcard {
  position: absolute;
  margin: auto;
  margin-top: 40px;
  margin-left: 10%;
  width: 80%;
  text-align: center;
  
  background-color: #9687c4;
  padding-top: 15%;
  padding-bottom: 15%;
  backface-visibility: hidden; 
}

.backcard {
  transform: rotateY(180deg);
}


.activeCardButtons {
  position: fixed;
  
  width: 80%;
  margin-left: 5%;
  bottom: 0;
  display: flex;
  margin-bottom: 40px;
}

.activeCardButtons button {
  margin: auto;
  position: relative;
  width: 30%;
  background-color: #4f3d87;
  color: white;
  padding: 15px;
  border: none;
  font-size: large;
  font-weight: bold;
  
}

.activeCardButtons button:hover {
  opacity: .8;
  cursor: pointer;
}
