html { 
    width: 100%;
    height: 100%;
    margin: 0 auto;
    background-color: #23012c;   
    background-repeat: no-repeat;
    background-position: center; /* Center the image */
    background-size: cover;
    font-family: sans-serif;
  }


h1 {
    position: top;
    text-align: center;
    color: #fff;
    font-size: 40px;
    margin: 40px;
}

.flashcard {
    border: 1px solid #4f3d87;
    background-color: #dfc5fe;
    color: #4f3d87;
    border-radius: 5%;
    padding: 20px;
    margin: 20px auto;
    width: 50%;
    height: 300px;
    font-size: 50px;
    text-align: center;
    display: flex; /* Use flexbox */
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
}

.notes {
    font-size: 50px;
    font-weight: bold;
}

.chordname {
    display: block; /* Initially hide the chord */
    font-size: 50px;
}

#flip,
#next {
    display: block;
    margin: 10px auto; /* Centers the buttons horizontally */
}

button {
    margin: auto;
    position: relative;
    width: 30%;
    background-color: #4f3d87;
    color: white;
    padding: 15px;
    border: none;
    font-size: large;
    font-weight: bold;
    
  }